<html>
    <h1>Sinatra project<h1>
  <head>
  	<link rel="stylesheet" type="text/css"  href="/css/dec.css">
  </head>
  <body>
    <div id = "main_div"> 
    <h1>Sinatra Project</h1>
      <div id = "options">
      <form method="post" action="/caesar_but">
        <button type="submit" id="caesar_button"> Caesar Cipher </button>
      </form>
      <form method="post" action="/hangman_but">
        <button type="submit" id="hangman"> Hang Man </button>
      </form>
      </div>
    </div>
  </body
</html>